* {
  margin: 0;
  padding: 0;
  font-family: consolas, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  box-sizing: border-box;
  color: #666;
}

.red {
  color: red
}

.green {
  color: green
}

.amd {
  padding: 10px 5px;
}

.amd, .row {
  display: table;
  width: 100%;
}

.amd .group, .cell {
  display: table-cell;
}

.cell {
  padding: 5px;
}

.cell.t {
  width: 20%;
}

.groupTitle {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
  background-color: #eee;
}

.group {
  padding: 0 5px;
  width: 33.333%;
}

.typeItem {
  background: #f7f7f7;
  margin-bottom: 10px;
  padding: 10px;
}

.nothing {
  padding: 15px;
  background-color: #f7f7f7;
  text-align: center;
  font-size: 14px;
  color: #bbb;
}

.typeTitle {
  font-size: 16px;
  font-weight: bold;
}

.item {
  padding-top: 10px;
}

.fileName {
  font-size: 14px;
  color: #000;
}

span.state {
  padding-left: 10px;
}