
.scroller-component {
  display: block;
  position: relative;
  height: 238px;
  overflow: hidden;
  width: 100%;
}

.scroller-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.scroller-mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
}

.scroller-item {
  text-align: center;
  font-size: 16px;
  height: 34px;
  line-height: 34px;
  color: #000;
}

.scroller-indicator {
  width: 100%;
  height: 34px;
  position: absolute;
  left: 0;
  top: 102px;
  z-index: 3;
  background-color: rgba(0,0,0,0.04);
}

.dp-container {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 10000;
  background-color: #fff;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.dp-container.show {
  height: auto;
  visibility: visible;
  animation:popup .3s;
  -webkit-animation:popup .3s;
}

.dp-container.leave {
  height: auto;
  visibility: visible;
  animation:popdown .3s;
  -webkit-animation:popdown .3s;
}

.dp-mask {
  position: fixed;
  width: 100%;
  height: 0;
  left: 0px;
  top: 0px;
  visibility: hidden;
  background-color: rgba(0,0,0,.5);
  z-index: 9999;
}

.dp-mask.show {
  height: 100%;
  visibility: visible;
  animation:fadeIn .3s ease;
  -webkit-animation:fadeIn .3s ease;
}

.dp-mask.leave {
  height: 100%;
  visibility: visible;
  animation:fadeOut .3s ease;
  -webkit-animation:fadeOut .3s ease;
}

.dp-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -o-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  background-color:#f7f7f7;
}

.dp-header .dp-item {
  color: #04BE02;
  font-size: 16px;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
  padding:0 15px;
}

.dp-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -o-box;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  padding: 10px 0;
}

.dp-header .dp-item,
.dp-content .dp-item {
  -webkit-box-sizing: border-box;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
