/*
 *     VUX GLOBAL STYLES
 *    	@Author zhangyh  
 *	  Create in 2016.03.08
 *
 */
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,header,hgroup,nav,section,article,aside,footer,figure,figcaption,menu,button{margin:0;padding:0;outline:0}body{font-family:Helvetica,sans-serif,"Helvetica Neue",STHeiTi;line-height:1.5;color:#333;background-color:#fff;-webkit-user-select:none;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(255,255,255,0)}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}li{list-style:none}input,button,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;border:0;background:0;-webkit-appearance:none;outline:0}a,button,input,select,textarea,a:focus,button:focus,input:focus,select:focus,textarea:focus,[onclick]{outline:0;-webkit-tap-highlight-color:rgba(255,255,255,0)}a{-webkit-touch-callout:none;text-decoration:none;color:#00a5e0;outline:0}em,i,b{font-style:normal;font-weight:normal;}::-webkit-input-placeholder{color:#999}



/* PUBLIC PART */
body{background-color:#f9f9f9; font-size:0.28rem; width:100%;}
*{-webkit-box-sizing:border-box; box-sizing:border-box;}
*:not(footer):not(header){position:relative;}
@font-face{font-family:"iconfont"; src:url('../font/iconfont.ttf') format('truetype');} 
i:after,
.vux-list-item:after{font-family:iconfont; font-size:0.48rem; font-weight:400; font-style:normal; line-height:1; display:inline-block; text-decoration:none; -webkit-font-smoothing:antialiased;}


/* router view transition */
.switch-enter{animation:switch-in .2s;}
.switch-leave{animation:switch-out .2s;}

/* basic setup */
.hide{display:none;}
.hidden{visibility:hidden;}

/* public animate */
@-webkit-keyframes switch-in{
  0%{opacity:0;}
  100%{opacity:1;}
}
@keyframes switch-in{
  0%{opacity:0;}
  100%{opacity:1;}
}

@-webkit-keyframes switch-out{
  0%{opacity:1;}
  100%{opacity:0;}
}

@keyframes switch-out{
  0%{opacity:1;}
  100%{opacity:0;}
}

@-webkit-keyframes fadeInUpDialog{
  0%{opacity:0; -webkit-transform:translate3d(-50%, 100%, 0) scale3d(.5, .5, .5); transform:translate3d(-50%, 100%, 0) scale3d(.5, .5, .5);}
  100%{opacity:1; -webkit-transform:translate3d(-50%, -50%, 0) scale3d(1, 1, 1); transform:translate3d(-50%, -50%, 0) scale3d(1, 1, 1);}
}

@keyframes fadeInUpDialog{
  0%{opacity:0; -webkit-transform:translate3d(-50%, 100%, 0) scale3d(.5, .5, .5); transform:translate3d(-50%, 100%, 0) scale3d(.5, .5, .5);}
  100%{opacity:1; -webkit-transform:translate3d(-50%, -50%, 0) scale3d(1, 1, 1); transform:translate3d(-50%, -50%, 0) scale3d(1, 1, 1);}
}

@-webkit-keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}

@keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}

@-webkit-keyframes fadeOut{
  0%{opacity:1;}
  100%{opacity:0;}
}

@keyframes fadeOut{
  0%{opacity:1;}
  100%{opacity:0;}
}

@-webkit-keyframes popup{
  0%{-webkit-transform:translate3d(0, 100%, 0); transform:translate3d(0, 100%, 0);}
  100%{-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}
}

@keyframes popup{
  0%{-webkit-transform:translate3d(0, 100%, 0); transform:translate3d(0, 100%, 0);}
  100%{-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}
}

@-webkit-keyframes popdown{
  0%{-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}
  100%{-webkit-transform:translate3d(0, 100%, 0); transform:translate3d(0, 100%, 0);}
}

@keyframes popdown{
  0%{-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}
  100%{-webkit-transform:translate3d(0, 100%, 0); transform:translate3d(0, 100%, 0);}
}


/* row & cell */
.row{display:box; display:-webkit-box;}
.row >.cell{-webkit-box-flex:1; box-flex:1;}

/* tosat */
i.toast{padding:0.12rem 0.2rem 0.12rem 0.68rem; font-size:0.26rem; display:block; max-width:90%; background-color:rgba(0,0,0,.5); color:#fff; border-radius:0.08rem; z-index:999; position:fixed; left:50%; top:50%; transform:translate3d(-50%, -50%, 0); -webkit-transform:translate3d(-50%, -50%, 0); animation:fadeIn .4s .2s; -webkit-animation:fadeIn .4s .2s; white-space:nowrap; overflow:hidden; opacity:0; animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;}
i.toast.break{width:80%; white-space:normal;}
i.toast:after{content:'\e619'; font-size:0.36rem; position:absolute; left:0.16rem; top:50%; margin-top:-0.16rem;}
i.toast.error:after{content:'\e618';}
i.toast.success:after{content:'\e617';}

/* dialog */
.dialog{width:100%; height:100%; position:fixed; left:0; top:0; z-index:999;}
.dialog .dialogBox{position:absolute; left:50%; top:50%; transform:translate3d(-50%, -50%, 0); -webkit-transform:translate3d(-50%, -50%, 0); width:4.8rem; background-color:#fff; box-shadow:0 8px 38px -5px rgba(0,0,0,.28); border-radius:0.1rem; overflow:hidden; animation:fadeInUpDialog .3s; -webkit-animation:fadeInUpDialog .3s;}
.dialogBox .title{text-align:center; padding:0.2rem;}
.dialogBox .content{min-height:0.8rem; color:#666; font-size:0.26rem; padding:0 0.2rem; white-space:normal; word-break:break-all;}
.dialogBox .btnGrp{width:100%; display:box; display:-webkit-box;}
.dialogBox .btnGrp .btn{width:50%; font-size:0.26rem; color:#666; display:block; box-flex:1; -webkit-box-flex:1; padding:0.24rem;}
.dialogBox .btnGrp .btn:active{background-color:#F8F8F8;}

/* loader */
.dialog.wait{z-index:99999;}
.dialog .wrap{width:0.96rem; height:0.96rem; margin:-0.48rem 0 0 -0.48rem; background-color:rgba(0,0,0,.6); border-radius:0.1rem; -webkit-border-radius:0.1rem; position:absolute; left:50%; top:50%;}

.spinner{
  position:relative;
  border-top:0.08rem solid rgba(255, 255, 255, 0.2);
  border-right:0.08rem solid rgba(255, 255, 255, 0.2);
  border-bottom:0.08rem solid rgba(255, 255, 255, 0.2);
  border-left:0.08rem solid #ffffff;
  -webkit-animation:spinner .8s infinite linear;
  animation:spinner .8s infinite linear;
}
.spinner, .spinner:after{border-radius:50%; width:0.64rem; height:0.64rem; position:absolute;  left:50%; top:50%; margin:-0.32rem 0 0 -0.32rem;}

@-webkit-keyframes spinner{
  0%{-webkit-transform:rotate(0deg); transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg); transform:rotate(360deg);}
}
@keyframes spinner{
  0%{-webkit-transform:rotate(0deg); transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg); transform:rotate(360deg);}
}


/* Public Basic Styles */
.vux-flexbox{width:100%; text-align:left; display:-webkit-box; display:-o-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-align:center; -webkit-align-items:center;}
.vux-flexbox .vux-flexbox-item{-webkit-box-flex:1; -o-box-flex:1; -ms-flex:1; -webkit-flex:1; flex:1; min-width:20px;}
.vux-flexbox .vux-flexbox-item:first-child{margin-left:0!important;}


/* Basic List Style */
.vux-list{width:100%; background-color:#fff;}
.vux-list >ul{border:1px solid transparent; border-width:1px 0;}
.vux-list .vux-list-item{width:100%; padding:0.2rem; transition:background-color ease .3s; -webkit-transition:background-color ease .3s;}
.vux-list li >.vux-list-item{padding:0.2rem 0;}
.vux-list >ul li:active{background-color:#f8f8f8;}
.vux-list .vux-list-item.folder{padding-right:0.44rem;}
.vux-list li .vux-list-item.folder{padding-right:0.24rem;}
.vux-list .vux-list-item.folder:after{content:'\e61a'; color:#aaa; font-size:0.2rem; position:absolute; right:0.2rem; top:50%; margin-top:-0.1rem;}
.vux-list li >.vux-list-item.folder:after{right:0;}

/* Basic Button */
.vux-btn{display:block; padding:0.24rem 0; text-align:center; color:#fff; background-color:#007aff; width:100%; border-radius:0.06rem; transition:all ease .3s; -webkit-box-shadow:0 0 0 0.96rem rgba(0,0,0,0) inset; box-shadow:0 0 0 0.96rem rgba(0,0,0,0) inset;}
.vux-btn.red{background-color:#dd524d;}
.vux-btn:not(.disabled):not(:disabled):active{-webkit-box-shadow:0 0 0 0.96rem rgba(0,0,0,0.16) inset; box-shadow:0 0 0 0.96rem rgba(0,0,0,0.16) inset;}
*:not(.vux-btn) + .vux-btn{margin-top:0.4rem;}
.vux-btn + .vux-btn{margin-left:0.2rem;}