.scrollLoadState{display:none; padding:0.24rem 0.24rem; text-align:center; color:#999;}
.scrollLoadState span{padding:0 22px; position:relative; font-size:13px;}
.scrollLoadState.show{display:block;}
.autoHeight{overflow:auto; -webkit-overflow-scrolling:touch;}

.scrollLoadState .sc-spinner{
  display:block;
  position:absolute;
  top:50%;
  left:0;
  margin-top:-9px;
}

.scrollLoadState .sc-spinner-icon{
  width:16px;
  height:16px;
  box-sizing:border-box;

  border:solid 2px transparent;
  border-top-color:#bbb;
  border-left-color:#bbb;
  border-radius:50%;

  -webkit-animation:scrollLoad-spinner 400ms linear infinite;
          animation:scrollLoad-spinner 400ms linear infinite;
}

.scrollLoadState .sc-spinner{
  position:absolute;
}

@-webkit-keyframes scrollLoad-spinner{
  0%  {-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}
@keyframes scrollLoad-spinner{
  0%  {transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}