.swiper{-webkit-transition:all .3s ease; transition:all .3s ease; width:100%; overflow:hidden; display:box; display:-webkit-box; height:100%;}
.swiper .item{position:relative; height:100%; overflow:hidden;}
.swiper .item.active .animated{-webkit-animation-fill-mode:both; animation-fill-mode:both; opacity:1;}
.swiper .item:not(.active) .animated{-webkit-animation:none; animation:none; opacity:0;}

.swiper-wrap{position:relative; width:100%; overflow:hidden;}
.swiper-wrap .dotCon{width:100%; position:absolute; z-index:99; left:0; bottom:0; text-align:center; padding:0.04rem 0;}
.swiper-wrap .dotCon i{display:inline-block; padding:0.1rem;}
.swiper-wrap .dotCon i:after{content:''; display:block; height:0.12rem; width:0.12rem; background-color:#fff; border-radius:50%; opacity:0.4; transition:opacity .3s; -webkit-transition:opacity .3s;}
.swiper-wrap .dotCon i.active:after{opacity:1}
.swiper .item img{width:100%; display:block;}