$blue          : #3b8cff;
$deepBlue      : #1A6DE1;
$lightRed      : #f8645c;
$deepRed       : #dc3a31;
$borderDefault : 1px solid #eee;
$borderGray    : 1px solid #dcdcdc;
$maskOpacity   : rgba(0, 0, 0, .6);